* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #131313;
  width: 100vw;
  height: 100vh;
}

.navbar {
  overflow: hidden;
  width: 100vw;
  padding-top: 20px;
}

.navbar ul {
  list-style-type: none;
}

.navbar li .links {
  display: block;
  color:rgb(88, 88, 88);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.navbar-container .navbar_logo {
  margin-right: 20px;
  margin-left: 20px;
}

.linkList {
  display: flex;
  padding-right: 20px;
}